.profile__edit-button {
  border: 1px solid #fff;
  background-color: #000;
  min-width: 24px;
  min-height: 24px;
  grid-column: 2;
  grid-row: 1;
  align-self: flex-end;
  justify-self: end;
  cursor: pointer;
  transition: .2s linear;
}

.profile__edit-button:hover {
  opacity: .6;
}

@media screen and (max-width: 320px) {
  .profile__edit-button {
    min-width: 18px;
    min-height: 18px;
    align-self: center;
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}