.profile__add-button {
  border: 2px solid #fff;
  background-color: #000;
  width: 150px;
  height: 50px;
  margin-top: 35px;
  cursor: pointer;
  border-radius: 2px;
  transition: .2s linear;
  padding: 0;
  background-image: url(../../../images/plus.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.profile__add-button:hover {
  opacity: .6;
}

@media screen and (max-width: 660px) {
  .profile__add-button {
    margin: 35px auto 0;
    width: 282px;
    margin-top: 31px;
    background-size: 16px 16px;
  }
}
