.elements__list {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, 282px);
  grid-template-rows: repeat(auto-fit, 1fr);
  gap: 20px 17px;
  justify-content: center;
}

@media screen and (max-width: 320px) {
  .elements__list {
    row-gap: 22px;
  }
}