.profile__avatar-wrapper {
  width: 120px;
  height: 120px;
  position: relative;
  border-radius: 50px;
}
.profile__avatar-wrapper::after{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  min-height: 100%;
  min-width: 100%;
  background-size: cover;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0);
}

.profile__avatar-wrapper:hover::after {
  cursor: pointer;
  background-color: rgba(0, 0, 0, .8);
  background-image: url(../../../images/edit_avatar.svg);
  background-size: 26px 26px;
  background-repeat: no-repeat;
  background-position: center;
} 